<!DOCTYPE html>
<head>
  <title>{{ .title }}</title>
  <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <style>
  .bytecontainer {
    height: 80vh;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  </style>
</head>
<body>
 <div class="bytecontainer">
  <center>
    <video height="600" id="video" controls></video>
  </center>
 </div>
 <script>
  var video = document.getElementById('video');
  if (Hls.isSupported()) {
    var hls = new Hls({
      debug: true,
    });
    hls.loadSource('http://127.0.0.1:8081/hls/'{{ .UUID }}'.m3u8');                                             //JS linter does not like this line - it works fine
    hls.attachMedia(video);
    hls.on(Hls.Events.MEDIA_ATTACHED, function () {
      video.muted = true;
      video.play();
    });
  }
  // hls.js is not supported on platforms that do not have Media Source Extensions (MSE) enabled.
  // When the browser has built-in HLS support (check using `canPlayType`), we can provide an HLS manifest (i.e. .m3u8 URL) directly to the video element through the `src` property.
  // This is using the built-in support of the plain video element, without using hls.js.
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    // video.src = 'https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8';
    video.src = 'http://127.0.0.1:8081/hls/'{{ .UUID }}'.m3u8';                                                   //JS linter does not like this line - it works fine
    video.addEventListener('canplay', function () {
      video.play();
    });
  }
</script>
</body>
